/* общие параметры */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.whole { /* контейнер для всего сайта */
  width: 1348px; /* ширина всего сайта */
  margin: 0 auto; /* центрирование всего сайта */
}

/* шапка */

.header-flex { /* шапка с логотипом */
  border: 1px solid #ececec;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
  padding-left: 227px; /* отодвинула шапку от левого края */
  padding-right: 231px; /* отодвинула шапку от правого края */
  padding-top: 25px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none; /* убрала нижнее почёркивание у ссылки BRAND */
}

.logo-text_1 { /* часть текста логотипа BRAN */
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  padding-left: 12px; /* отодвинула brand от логотипа */
}

.logo-text_2 { /* часть текста логотипа D */
  color: #f16d7f;
  font-size: 27px;
  font-weight: 900;
  line-height: 32px;
  text-align: center;
}

/* кнопка browse в шапке страницы */

.form {
  display: flex;
  margin-left: 37px;
}

.browse { /* блок browse со стрелочкой выпадающего меню */
  display: block;
  padding-right: 26px;
  padding-left: 15px;
  box-sizing: border-box;
  background: -webkit-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -moz-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -o-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -ms-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  height: 40px;
  line-height: 38px; /* чтобы вертикально центрировать и равно значению высоты - это высота шрифта */
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none; /* убрала нижнее подчёркивание */
  border: 1px solid transparent; /* рамка изначально прозрачная и нужна, чтобы при наведении на кнопку рамка появлялась, но кнопка не прыгала */
  transition: all 0.5s; /* замедление отображения рамки при наведении */
  position: absolute;
}

.browse:hover { /* наведение на кнопку */
  color: black; /* поменяла цвет текста */
  border: 1px solid black; /* рамочка */
  transition: all 0.4s;
}

.arrow_1 { /* стрелочку поместила в кнопку browse в шапке страницы */
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-align: right;
  position: relative;
  margin-left: 70px;
  margin-top: 18px;
}

.input-header { /* поле ввода */
  width: 317px;
  height: 40px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  padding-left: 16px; /* из-за того что добавили падинги поле стало немного больше, поэтому дописываем bxbb+tab */
  padding-right: 16px;
  box-sizing: border-box;
  line-height: 38px;
  margin-left: 11px;
}

.search { /* значок лупы справа от поля Search for Item */
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-align: right;
}

.search_button {
  width: 35px;
  height: 41px;
}

.search_button:hover {
  color: black; /* поменяла цвет текста */
  border: 1px solid black; /* рамочка */
  transition: all 1.0s;
}

/* кнопка со стрелочкой my account */

.header-right {
  display: flex;
  margin-top: 25px;
}

.busk {
  margin-top: 3px;
}

.my-acc {
  display: block;
  padding-right: 19px;
  padding-left: 19px;
  background-color: #f16d7f;
  height: 38px;
  line-height: 38px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  margin-left: 26px;
  border: 1px solid transparent;
  transition: all 0.5s;
  margin-bottom: 20px;
}

.my-acc:hover { /* наведение на кнопку */
  background-color: #fff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
  transition: all 0.4s;
}

.arrow_2 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-align: right;
  position: relative; /* поместила стрелочку в блок */
  margin-left: 20px;
}

/* блок меню */

.navigation {
  background-color: #ffffff;
}

.menu {
  display: flex;
  list-style-type: none; /* убрала маркировку */
  justify-content: center; /* разместили меню по центру */
}

.menu__link {
  color: #222222;
  font-size: 14px;
  text-decoration: none; /* отключила подчёркивание */
  font-weight: 700;
  text-transform: uppercase;
  display: block; /* сделала ссылку блочной и задала падинги, чтобы кликабельно было не только слово, но и прилегающая область */
  padding: 20px;
}

.menu__link:hover { /* наведение на меню */
  color: #f16d7f; /* цвет меняется при наведении */
}

/* блок с главной фоткой */

.slider {
  background-color: #e8e8e8;
  height: 614px; /* высота слайдера с меню минус высота меню */
  width: 1366px;
  margin: 0 auto;
  display: flex; /* так как box-slider-text отодвинул главную фотку от шапки */
  background-image: url(img/slider_back.jpg);
  background-position: 0 -50px; /* смещение по х=0, смещение по у=-50px */
  flex-direction: column;
}

.slider_heading {
  font-size: 59.95px;
  font-weight: 700;
  line-height: 45px; /* высота текста, чтобы было вровень с розовой полоской */
  margin-bottom: 20px; /* отступ между брэнд и лакшери */
}

.slider_text {
  font-size: 39.96px;
  line-height: 32px; /* высота текста, чтобы было вровень с розовой полоской, это высота для всего параграфа */
}

.box-slider-text {
  margin-top: 225px;
  border-left: 12px solid #f16d7f; /* 12px это значение ширины этой полоски, solid это сплошная рамка, розовый цвет это background-color */
  flex-direction: column; /* чтобы элементы распологались как колонки, а не по горизонтали */
  padding-left: 12px; /* отступ от розовой полоски до текста брэнд */
  margin-left: 230px;
}

/* блок, где есть картинка с парнем в костюме */

.offers {
  width: 1140px;
  margin: 0 auto;
}

.offer-big {
  background-color: #ccc;
  width: 560px;
  height: 500px; /* блоки с большими фотками стали уже и не дублируются */
  padding-top: 20px; /* отодвинула белый блок с текстом от верхней границы картинки */
  margin-bottom: 10px;
}

.offer-big h2 {
  padding-bottom: 10px; /* текст в белых блоках по центру */
}

.offer-mini h2 {
  padding-bottom: 10px; /* текст в белых блоках по центру */
}

.offer-mini {
  background-color: #ccc;
  width: 560px;
  height: 200px; /* блоки с маленькими фотками стали уже и не дублируются */
  padding-top: 10px; /* отодвинула белый блок с текстом от верхней границы картинки */
}

.offer-left div:first-of-type { /* картинка парня в костюме */
  background-image: url(img/Layer%2030.jpg);
}

.offer-left div:nth-child(2) { /* картинка визитницы */
  background-image: url(img/Layer%2037.jpg);
}

.offer-right div:first-of-type { /* картинка девушки в чёрном */
  background-image: url(img/Layer%2032.jpg);
}

.offer-right div:nth-child(2) { /* картинка ребёнка */
  background-image: url(img/Layer%2031.jpg);
}

.offers-flex { /* расположила блоки не друг под другом, а два слева и два справа */
  display: flex;
  justify-content: space-between;
  padding-top: 98px; /* расстояние между главной фоткой и парнем в костюме */
}

.offers-flex > div > div:first-of-type { /* задала отступ снизу между 1 и 2 фото */
  margin-bottom: 20px;
}

.offers-flex p {
  color: #222222;
  font-size: 15px;
  font-weight: 900;
  text-align: left;
  background-color: #ffffff;
  text-transform: uppercase;
  width: 175px;
  padding-left: 19px; /* отступ текста внутри блока от границы блока */
  padding-top: 16px;
}

.offers-flex h2 {
  color: #f16d7f;
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  background-color: #ffffff;
  text-transform: uppercase;
  width: 175px;
  padding-left: 19px; /* отступ текста внутри блока от границы блока */
}

/* заголовок над 8 маленькими фотками */

.featured_text h2 {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  height: 23px;
  margin-bottom: 16px;
  margin-top: 100px;
}

.featured_text p {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 12px;
  margin-bottom: 59px;
}

/* блок, где 8 маленьких картинок с ценой */

.items-flex {
  display: flex;
  flex-direction: column;
  margin-left: 232px;
  width: 1140px;
  margin: 0 auto;
}

.items-1:hover {
  box-shadow: 0 5px 8px rgba (0, 0, 0, 0.16);
  filter: brightness(50%);
}

.items-2:hover {
  box-shadow: 0 5px 8px rgba (0, 0, 0, 0.16);
  filter: brightness(50%);
}

.items-3:hover {
  box-shadow: 0 5px 8px rgba (0, 0, 0, 0.16);
  filter: brightness(50%);
}

.items-4:hover {
  box-shadow: 0 5px 8px rgba (0, 0, 0, 0.16);
  filter: brightness(50%);
}

.items-5:hover {
  box-shadow: 0 5px 8px rgba (0, 0, 0, 0.16);
  filter: brightness(50%);
}

.items-6:hover {
  box-shadow: 0 5px 8px rgba (0, 0, 0, 0.16);
  filter: brightness(50%);
}

.items-7:hover {
  box-shadow: 0 5px 8px rgba (0, 0, 0, 0.16);
  filter: brightness(50%);
}

.items-8:hover {
  box-shadow: 0 5px 8px rgba (0, 0, 0, 0.16);
  filter: brightness(50%);
}

.items-1:hover .add-flex {
  display: flex; /* теперь блок Add to Cart появляется только при наведении */
}

.items-2:hover .add-flex {
  display: flex;
}

.items-3:hover .add-flex {
  display: flex;
}

.items-4:hover .add-flex {
  display: flex;
}

.items-5:hover .add-flex {
  display: flex;
}

.items-6:hover .add-flex {
  display: flex;
}

.items-7:hover .add-flex {
  display: flex;
}

.items-8:hover .add-flex {
  display: flex;
}

.items-1:hover { /* добавила фотке тень, но не могу добавить тень всему блоку */
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.items-1 { /* первое фото слева направо в первом ряду */
  background-image: url(img/Layer%202.jpg);
}

.items-2 { /* второе фото слева направо в первом ряду */
  background-image: url(img/Layer%203.jpg);
}

.items-3 { /* третье фото слева направо в первом ряду */
  background-image: url(img/Layer%204.jpg);
}

.items-line-1 div:nth-child(4) { /* четвёртое фото слева направо в первом ряду */
  background-image: url(img/Layer%205.jpg);
}

.items-5 { /* первое фото слева направо во втором ряду */
  background-image: url(img/Layer%206.jpg);
}

.items-line-2 div:nth-child(2) { /* второе фото слева направо во втором ряду */
  background-image: url(img/Layer%207.jpg);
}

.items-line-2 div:nth-child(3) { /* третье фото слева направо во втором ряду */
  background-image: url(img/Layer%208.jpg);
}

.items-line-2 div:nth-child(4) { /* четвёртое фото слева направо во втором ряду */
  background-image: url(img/Layer%209.jpg);
}

.items-flex a { /* убрала подчёркивание ссылок */
  text-decoration: none;
}

.items-flex p:first-of-type { /* чёрный цвет текста под маленькими картинками */
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  padding-top: 290px;
}

.items-flex p:nth-child(2) { /* розовый цвет цены под маленькими картинками */
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 60px;
  margin-top: 19px;
}

.items-1,
.items-2,
.items-3,
.items-4,
.items-5,
.items-6,
.items-7,
.items-8 {
  width: 261px;
  height: 279px;
  float: left;
  margin-bottom: 123px;
  margin-right: 23px;
  justify-content: space-between;
}

/* блок с корзинкой в каждой из 8 фоток при наведении */

.add-flex { /* блок в фотке с текстом Add to Cart и корзинкой */
  display: none; /* спрятали блок с Add to Cart за фотографию, чтобы добавить затемнение */
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  width: 123px;
  height: 39px;
  position: relative;
  margin-left: 65px;
  margin-top: 90px;
  float: left;
  line-height: 39px; /* текст по центру блока */
  text-decoration: none;
}

.add-flex:hover { /* цвет блока с корзинкой меняется при наведении */
  background-color: rgba(255, 255, 255, 0); /* прозрачный фон */
  border: #fff; /* цвет текста сделала розовым */
}

.add-flex:hover { /* цвет блока с корзинкой меняется при наведении */
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
}

.add-flex img { /* корзинка в блоке */
  box-sizing: border-box;
  background-color: #ffffff;
  width: 20px;
  height: 18px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  margin-top: 10px;
  margin-left: 5px;
}

.add-to-cart { /* текст Add to Cart в блоке с корзинкой */
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  padding-left: 10px;
  color: white;
}

/* розовая кнопка Browse All Product под 8 картинками */

.products {
  width: 1348px;
  margin: 0 auto;
}

.all_products {
  width: 212px;
  display: flex;
  align-items: center;
}

.product {
  display: block;
  padding-right: 19px;
  padding-left: 19px;
  line-height: 48px; /* чтобы вертикально центрировать и равно значению высоты - это высота шрифта */
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  background-color: #f16d7f;
  width: 212px;
  height: 48px;
  margin-left: 430px;
  text-align: center;
  position: absolute;
}

.product:hover { /* наведение на кнопку */
  background-color: #fff; /* поменяла фон розовый на белый */
  color: #f16d7f; /* цвет текста сделали розовым */
  border: 1px solid #f16d7f; /* рамочка такого же розового цвета */
}

.arrow_right { /* стрелочка направо в кнопке Browse All Product над скидкой winter */
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 54px;
  text-align: center;
  float: right;
  position: relative; /* поместила белую стрелочку в розовую кнопку */
  margin-left: 635px;
}

/* блок скидки winter */

.sales_delivery {
  margin: 0 auto;
  width: 1140px;
}

.sales {
  width: 1348px;
  height: 529px;
  margin-top: 113px;
  position: absolute;
}

.sale-flex {
  width: 767px;
  height: 529px;
  background-image: url(img/winter.jpg);
}

.sale-text h2 {
  color: #ffffff;
  font-size: 53.62px;
  padding-top: 146px; /* отодвинула текст в блоке winter от верхней границы фотографии */
  padding-left: 39px;
}

.sale-text h2 span { /* слово offer розового цвета, остальные слова белого цвета */
  color: #f16d7f;
}

.sale-text p {
  color: #ffffff;
  font-size: 32.17px;
  padding-left: 39px;
}

/* блок доставки спрва от блока со скидкой winter */

.delivery-flex { /* условия доставки на сером фоне */
  background-color: #222224;
  width: 360px; /* фотка девушки из блока со скидкой не дублируется */
  float: right; /* блок доставки расположен справа от блока скидки */
  height: 529px;
  margin-top: 113px;
  margin-right: 20px;
}

.delivery-text_1 h2 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  float: right;
  margin-right: 133px; /* отодвинула заголовок с машинкой от правого края */
}

.delivery-text_2 h2 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  float: right;
  margin-right: 98px; /* отодвинула заголовок с процентами от правого края */
}

.delivery-text_3 h2 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  float: right;
  margin-right: 92px; /* отодвинула заголовок с короной от правого края */
}

.delivery-text p {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-left: 85px;
}

.delivery-text_1,
.delivery-text_2,
.delivery-text_3 {
  margin-left: 36px;
  margin-top: 48px;
  float: left;
}

.delivery-text {
  background-color: #222224;
  width: 373px;
  height: 529px;
}

/* левая часть блока с пляжем перед футером */

.subscribe { /* блок с фоткой пляжа на фоне */
  height: 438px;
  background-image: url(img/beach.jpg);
  margin-top: 750px;
  margin-bottom: 123px;
  width: 1348px;
  position: absolute;
}

.subscribe_left { /* отодвинула фото девушки от границ фоновой фотографии */
  padding-top: 111px;
  padding-left: 140px;
}

.sub_1 { /* цитата справа от круглой фотки девушки */
  color: rgba(34, 34, 36, 0.67);
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  text-align: left;
  margin-right: 960px;
  margin-top: 12px;
  width: 386px;
  float: right;
}

.sub_2 {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  width: 82px;
  margin-left: 115px; /* отодвинула подпись от фотки под текст */
}

.sub_3 {
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  text-align: left;
  width: 82px;
  margin-left: 115px; /* отодвинула подпись от фотки под текст */
}

/* правая часть блока с пляжем */

.whole_subscribe {
  margin: 0 auto;
  align-items: center;
  width: 1348px;
}

.sub_block {
  position: relative;
  float: right;
  margin-top: 300px;
  margin-right: 400px;
}

.subscribe_text h2 { /* заголовок над полем email в футере */
  color: rgba(34, 34, 36, 0.67);
  font-size: 24px;
  line-height: 54px;
  font-weight: 400;
  margin-left: 400px;
}

.subscribe_text p { /* заголовок над полем email в футере */
  color: rgba(34, 34, 36, 0.67);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-left: 330px;
}

.sub_block input { /* блок справа для ввода почтового ящика и кнопка subscribe */
  display: flex;
  width: 300px;
  margin-left: 250px;
}

.sub_block a {
  margin-left: 550px;
}

.subscribe_but { /* кнопка subscribe на розовом фоне */
  background-color: #f16d7f;
  width: 104px;
  display: block;
  padding-right: 20px;
  padding-left: 21px;
  box-sizing: border-box;
  line-height: 46px; /* чтобы вертикально центрировать равно значению высоты шрифта */
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none; /* убрала нижнее подчёркивание */
  border: 1px solid transparent; /* рамка изначально прозрачная, рамка нужна, чтобы при наведении на кнопку рамка появлялась, но кнопка не прыгала */
  transition: all 0.5s; /* замедление отображения рамки при наведении */
  position: relative; /* поместила кнопку subscribe справа от поля email */
  margin-top: 20px; /* опустила кнопку subscribe на один уровень с кнопкой email */
  border-top-right-radius: 23px; /* делим значение height пополам и получается кнопка скруглённая справа сверху */
  border-bottom-right-radius: 23px; /* делим значение height пополам и получается кнопка скруглённая справа снизу */
}

.subscribe_but:hover { /* наведение на кнопку подписки */
  background-color: #f16d7f;
  color: #fff;
  border: 1px solid #222222;
  border-top-right-radius: 23px; /* делим значение height пополам и получается кнопка скруглённая слева сверху */
  border-bottom-right-radius: 23px; /* делим значение height пополам и получается кнопка скруглённая слева снизу */
}

.input-footer { /* поле ввода почтового ящика */
  background-color: #e1e1e1;
  height: 48px;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  position: absolute; /* поместила кнопку subscribe справа от поля email */
  border-top-left-radius: 23px; /* делим значение height пополам и получается кнопка скруглённая слева сверху */
  border-bottom-left-radius: 23px; /* делим значение height пополам и получается кнопка скруглённая слева снизу */
  outline: none; /* поле email не подсвечивается при нажатии */
}

/* блок в футере с логотипом и описанием */

.whole_footer {
  margin: 0 auto;
  align-items: center;
  width: 1140px;
  padding-bottom: 500px;
}

.box_1 p { /* текст в футере под логотипом */
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  width: 427px;
  margin-top: 20px; /* отодвинула блок в футере с текстом от логотипа */
}

/* блок в футере со ссылками в 3 столбца */

.footer {
  margin-top: 1300px;
}

.footer-block_1 {
  position: absolute;
}

.footer-block_2,
.footer-block_3,
.footer-block_4 {
  position: relative;
}

.box_2 {
  float: left;
  margin-left: 450px; /* отодвинула ссылки company от левого края */
}

.box_2 h2 {
  margin-left: 14px; /* заголовок COMPANY расположила ровно над списком со ссылками */
}

.box_3 {
  float: left;
  margin-left: 700px; /* отодвинула ссылки INFORMATION от левого края */
  position: absolute;
}

.box_3 h2 {
  margin-left: 18px; /* заголовок INFORMATION расположила ровно над списком со ссылками */
}

.box_4 {
  float: right;
}

.box_4 h2 {
  display: inline; /* заголовок SHOP CATEGORY расположила в строку */
}

.box_2 ul li {
  list-style-type: none; /* убрала маркеры в списке company */
}

.box_3 ul li {
  list-style-type: none;
}

.box_4 ul li {
  list-style-type: none;
}

.link_footer {
  color: #222222;
  font-size: 14px;
  text-decoration: none; /* отключили подчёркивание */
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  padding: 20px;
}

.link_footer:hover { /* наведение на меню */
  color: #f16d7f;
}

.box_2 h2 {
  width: 94px;
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: right;
}

.box_3 h2 {
  width: 131px;
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: right;
}

.box_4 h2 {
  width: 154px;
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: right;
}

/* футер с копирайтом */

.footer_rights {
  width: 1348px;
  margin: 0 auto;
  align-items: center;
  background-color: #e6e6e6;
  height: 79px;
  line-height: 79px; /* делает содержимое в блоке по центру блока и равно высоте */
  display: flex; /* делает содержимое в блоке по центру блока и равно высоте */
}

.footer_text {
  position: absolute;
}

.button_link {
  background-color: #ffffff;
  width: 32px;
  height: 32px;
}

.links { /* иконки соц сетей */
  padding-left: 1100px;
  position: relative;
  display: flex;
}

.links .button_link:nth-child(2) {
  background-color: #f16d7f;
}

.links .button_link:nth-child(2):hover { /* перекрасила кнопки при наведении */
  background-color: #f16d7f;
  border: 1px solid #fff;
  transition: all 0.6s;
}

.footer_text p { /* текст в левом нижнем углу страницы all rights reserved */
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  margin-left: 90px;
}

.button_link:hover { /* перекрасила кнопки при наведении */
  background-color: #f16d7f;
  border: 1px solid #fff;
  transition: all 0.3s;
}